
.package-hook-heading {
  margin-bottom: 0;
}

h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {
  background: none repeat scroll 0 0 yellow;
  padding: 0.5em;
}

.wy-menu-vertical ul {
    margin-bottom: 2em;
}
