
// Bootstrap badge colors!
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.container {
  max-width: 1170px;
}

form.userForgot, form.userLogin, form.userRegister, form.userReset {
  max-width: 300px;
}
