html, body {
  min-height: 100%;
}

// Bootstrap badge colors!
.badge-error {
  background-color: #b94a48;
}
.badge-important {
  background-color: #b94a48;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-inverse {
  background-color: #333333;
}
.badge-success {
  background-color: #468847;
}
.badge-warning {
  background-color: #f89406;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.container {
  max-width: 768px;
}

.muted {
  color: #999999;
}

nav.navbar {
  margin-top: 20px;
  
  ul {
    
    li {
      
      &.active > a {
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05) inset;
      }
      
      a {
      }
    }
  }    
  
  .navbar-brand {
    small, .small {
      font-size: 60%;
    }
  }
  
  @media (min-width: 768px) {
    .identity-wrapper {
      margin: 15px 0 15px 40px;
    }
  }
}

form.shrub-user-forgot, form.shrub-user-login, form.shrub-user-register, form.shrub-user-reset {
  max-width: 300px;
}

form .checkbox {
  margin-bottom: 15px;
}

form .checkboxes .checkbox {
  margin-bottom: 10px;
}

form .checkboxes ul,
form .radios ul {
  list-style-type: none;
  margin-bottom: 15px;
  padding: 0;  
}

form .checkboxes li.first .checkbox,
form .radios li.first .radio {
  margin-top: 0;
}

.shrub-skin-cloak {
  background-image: url("/img/throbber.svg");
  background-position: center 25%;
  background-repeat: no-repeat;
  background-size: 25% 12.5%;
  min-height: 100%;
}

.shrub-skin-cloak > * {
  visibility: hidden;
}
