
nav.navbar {
  margin-top: 20px;
  
  ul {
    
    li {
      
      &.active > a {
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05) inset;
      }
      
      a {
      }
    }
  }    
  
  .navbar-brand {
    small, .small {
      font-size: 60%;
    }
  }
  
  @media (min-width: 768px) {
    .identity-wrapper {
      margin: 15px 0 15px 40px;
    }
  }
}

